@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (400px <= width < 500px) {
    .text-info h1 {
        font-size: 1.5em;
        margin-bottom: 55px;
    }
    
    .text-info p {
        font-size: 14px;
        margin: 23px 0 0 0;
    }
}

@media (width < 400px) {
    .text-info h1 {
        font-size: 1em;
        margin-bottom: 75px;
    }
    
    .text-info p {
        font-size: 12px;
        margin: 23px 0 0 0;
    }

    .card {
        margin-bottom: 10px;
        padding: 10px 10px;
    }

    .company,
    .post-period {
        font-size: 10px ;
    }
}

body {
    font-family: 'roboto';
    font-size: 18px;
    background: #f1f1f1;
    color: #1d3b76;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;

}

.avatar {
    width: 100px;
    max-height: 133px;
    border-radius: 16px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin: 0px 20px 10px 0px;
}

.info {
    display: flex;
    width: auto;
}

.text-info {
    border-bottom: 1px solid #1d3b76;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 0px;
    width: auto;
}

.text-info h1 {
    margin-top: 0px;
    margin-bottom: 23px;
}

.text-info p {
    font-weight: bold;
    font-style: italic;
    color: #d22bc1;
    margin: 0 0 0 0;
}

.border {
    border: 2px solid #172849;
    border-radius: 16px;}

.card {
    margin-bottom: 10px;
    padding: 20px 20px;
}

.card h2 {
    margin-top: 0px;
}

.card ol {
    margin-bottom: 0px;
}

.bg-yelow {
    background-color: #fff9dc;
}

.bg-red {
    background-color: #ffe5e5;
}

.bg-green {
    background-color: #e5ffe7;
}

.bg-blue {
    background: #d5f2f2;
}

.btn {
    background: #c7fbcc;
    border: 1px solid #172849;
    border-radius: 2px;
    border: none;
    width: 90px;
    height: 20px;
    color: #093e0d;
    font-family: inherit;
    text-align: center;

}

.btn:hover {
    background: #a5dba9;
    color: rgb(255, 255, 255);
    border: 1px solid #172849;
}

.blocks {
    width: 100%;
    max-width: 900px;
    margin: 0px;
} 

.blocks .block {
    padding-top: 10px;
    margin: 0px 0px 20px 0px;
    width: 25%;
    height: 50px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    color: #d22bc1;
}

a {
    color: #1d3b76;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: #d22bc1;
    text-decoration: underline;
    font-size: 1.5rem;
}

.list {
    padding: 0px 20px;
}

.list li {
    color: #325599;
    margin-bottom: 5px;
}

.link-list {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
}

.link-list li {
    padding-bottom: 5px;
    padding-left: 30px;
}

.card ul {
    max-height: 25px;
}

th {
    color: hsla(220, 61%, 29%, 0.8);
}

.company {
    width: 300px;
    text-align: left;
}

.post-period {
    width: 200px;
    text-align: left;
}

.form-group label {
    /* display: block;  */
    font-size: 16px;
}

.form-group input {
    width: 1000px;
    max-width: 75%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    outline: none;
}

.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: #1d3b76;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* outline: none; */
    /* background: transparent; */
}

.form-group input:hover {
    background: #f1f1f1;
    ;
    outline: none;
}